body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0eff4;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #021f3d;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #218838;
}

section {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}
